/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.nojsWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .nojsWarning h1 {
    font-size: 120%;
    font-weight: bold; }

.js .nojsWarning {
  display: none; }

.partCssWarning {
  display: none; }

.no-borderradius .partCssWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .no-borderradius .partCssWarning h1 {
    font-size: 120%;
    font-weight: bold; }

.oldIeWarning {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid red; }
  .oldIeWarning h1 {
    font-size: 120%;
    font-weight: bold; }

@font-face {
  font-family: 'AquilineTwoRegular';
  src: url("AquilineTwo-webfont.eot");
  src: local("☺"), url("../fonts/Aquiline/AquilineTwo-webfont.woff") format("woff"), url("../fonts/Aquiline/AquilineTwo-webfont.ttf") format("truetype"), url("../fonts/Aquiline/AquilineTwo-webfont.svg#webfontHL5Bz7NP") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  width: 960px;
  margin: 0px auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background: #F4F4F4; }

#home {
  font: 16px 'Cantarell', arial, helvetica, sans-serif; }
  #home > header {
    background: url("http://www.gravatar.com/avatar/d86508251e48b986057d34bf9ae3b6b3.jpg") no-repeat left center;
    text-align: center;
    padding-bottom: 24px; }
    #home > header h1 {
      font: 72px/120px "AquilineTwoRegular", arial, serif;
      padding-bottom: 72px;
      border-bottom: 1px solid #DDD; }
    #home > header h2 {
      font-weight: normal;
      font-size: 22px; }
  #home .info > article {
    padding: 10px 0 10px 10px;
    margin-bottom: 10px; }
    #home .info > article:nth-child(even) {
      background: #EEE; }
    #home .info > article > header h1 {
      font-size: 22px; }
    #home .info > article dl {
      display: block; }
      #home .info > article dl:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    #home .info > article dt {
      float: left;
      clear: left;
      padding: 8px 5px 0 24px;
      width: 180px;
      font-weight: bold; }
    #home .info > article dd {
      float: left;
      padding-top: 8px; }
  #home dt.gmail {
    background: url("../images/icons/gmail.png") no-repeat 0 12px; }
  #home dt.outlook {
    background: url("../images/icons/outlook.gif") no-repeat 0 12px; }
  #home dt.gtalk {
    background: url("../images/icons/gtalk.gif") no-repeat 0 12px; }
  #home dt.skype {
    background: url("../images/icons/skype.png") no-repeat 0 12px; }
  #home dt.android {
    background: url("../images/icons/android.png") no-repeat 0 12px; }
  #home dt.twitter {
    background: url("../images/icons/twitter.png") no-repeat 0 12px; }
  #home dt.facebook {
    background: url("../images/icons/facebook.png") no-repeat 0 12px; }
  #home dt.linkedin {
    background: url("../images/icons/linkedin.png") no-repeat 0 12px; }
  #home dt.delicious {
    background: url("../images/icons/delicious.png") no-repeat 0 12px; }
  #home dt.gravatar {
    background: url("../images/icons/gravatar.gif") no-repeat 0 12px; }

  h1.howlong {
      text-align: center;
      font: 48px arial, helvetica, sans-serif;
      font-weight: bold;
      padding-top: 30px;
  }
