@font-face {
  font-family: 'AquilineTwoRegular';
  src: url('AquilineTwo-webfont.eot');
  src: local('☺'), url('../fonts/Aquiline/AquilineTwo-webfont.woff') format('woff'), url('../fonts/Aquiline/AquilineTwo-webfont.ttf') format('truetype'), url('../fonts/Aquiline/AquilineTwo-webfont.svg#webfontHL5Bz7NP') format('svg');
  font-weight: normal;
  font-style: normal;
}
