// reset (converted (just) from html5reset
@import "html5reset-1.6.1";
// warnings about browser compatibility etc
@import "featuredetect";

// basic css3 bells and whistles
@import "css3_mixins";

@import "fonts";

$gravatar_hash: "d86508251e48b986057d34bf9ae3b6b3";

body {
  width: 960px;
  margin: 0px auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background: #F4F4F4;
}

#home {
  font: 16px 'Cantarell', arial, helvetica, sans-serif;

    > header {
      background: url("http://www.gravatar.com/avatar/" + $gravatar_hash + ".jpg") no-repeat left center;
      text-align: center;
      h1 {
        font: 72px/120px 'AquilineTwoRegular', arial, serif;
        padding-bottom: 72px;
        border-bottom: 1px solid #DDD;
      }
      h2 {
        font-weight: normal;
        font-size: 22px;
      }
      padding-bottom: 24px;
    }

  .info {
    > article {
      padding: 10px 0 10px 10px;
      margin-bottom: 10px;
      &:nth-child(even) {
        background: #EEE;
      }
      > header h1 {
        font-size: 22px;
      }
      dl {
        @include clearfix;
      }
      dt {
        float: left;
        clear: left;
        padding: 8px 5px 0 24px;
        width: 180px;
        font-weight: bold;
      }
      dd {
        float: left;
        padding-top: 8px;
      }

    }
  }
  dt.gmail {
    background: url('../images/icons/gmail.png') no-repeat 0 12px;
  }
  dt.outlook {
    background: url('../images/icons/outlook.gif') no-repeat 0 12px;
  }
  dt.gtalk {
    background: url('../images/icons/gtalk.gif') no-repeat 0 12px;
  }
  dt.skype {
    background: url('../images/icons/skype.png') no-repeat 0 12px;
  }
  dt.android {
    background: url('../images/icons/android.png') no-repeat 0 12px;
  }
  dt.twitter {
    background: url('../images/icons/twitter.png') no-repeat 0 12px;
  }
  dt.facebook {
    background: url('../images/icons/facebook.png') no-repeat 0 12px;
  }
  dt.linkedin {
    background: url('../images/icons/linkedin.png') no-repeat 0 12px;
  }
  dt.delicious {
    background: url('../images/icons/delicious.png') no-repeat 0 12px;
  }
  dt.gravatar {
    background: url('../images/icons/gravatar.gif') no-repeat 0 12px;
  }
}
